@font-face {
  font-family: "RobotoCondensed",system-ui;
  src: url(/Fonts/RobotoCondensed.woff2) format("woff2");
  font-display: optional;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "RobotoCondensed";
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/list-icon-notebook-with-completed-todo-list-3d-render_471402-428.webp);
  background-position: center;
  background-repeat: no-repeat;
}

.todo-container {
  width: 600px;
  margin: 20px auto 0;
  background-color: #f6f6f6;
}
.todo-container .add-task {
  padding: 15px;
  background-color: #009688;
  position: relative;

}
.todo-container .add-task input {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  background-color: rgb(199 196 196 / 74%);
  width: calc(100% - 30px);
  color: #261212;
}
.todo-container .add-task input:focus{
  outline: none;
}

.todo-container .add-task button{
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.todo-container .add-task button svg path {
  fill: #fff;
}
.tasks-content {
  padding: 15px;
  background-color: #b2d9d0;
}

.no-tasks-Massage {
color:#424242;
font-size: 15px;
}
.tasks-content > span{
  display: block;
  background-color: #f0fbf9;
  color: #124940;
  padding: 10px;
  cursor: move;
  position: relative;
  transition: background-color 0.5s;
}
.tasks-content > span:hover{
  cursor: grab;
}
.tasks-content > span:active {
  cursor: grabbing;
}
.date-ForElement{
  left: 75%;
  position: absolute;
  font-size: 12px;
  line-height: 2;
  margin: -3px 0px;
}
.tasks-content > span:not(:last-child){
  margin-bottom: 10px;
}
.tasks-content .task-box .delete{
  float: right;
  cursor: pointer;
}
.tasks-content .task-box .Text-task{
  display: inline;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.tasks-content .task-box .delete:hover use{
  fill: #960500;
  transition: fill 0.4s;
}
.tasks-content .task-box.finished{
  text-decoration: line-through;
}

.task-stats {
  overflow: hidden;
  margin: 7px auto;
  width: 600px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 5px;
}
.task-stats .tasks-count,
.task-stats .tasks-completed{
  padding: 10px;
}
.task-stats .tasks-count span,
.task-stats .tasks-completed span {
  font-size: 10px;
  color: #fff;
  padding: 2px 5px;
  font-weight: bold;
  border-radius: 5px;
}
.task-stats .tasks-count span,
.delete-all{
  background-color: #960500;
}
.task-stats .tasks-completed span,
.finish-all {
  background-color: #03af;
}
.swal2-popup{
  font-size: 10px;
}
.delete-all,
.finish-all{
  display: none;
  color: aliceblue;
  text-align: center;
  padding: 7px 13px;
  cursor: pointer;
  border-radius: 5px;
}


.selected {
  opacity: 0.6;
}